* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
  border-radius: 10px;
}

.navBar{
  background-color: #222;
   color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBar li{
  list-style-type: none;
}
.links{
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.links li a{
  color: #fff;
  text-decoration: none;
  width:150px;
  padding: 7px 25px;
  border-radius: 10px;
  transition: all 0.3s linear;
}
.links li a:hover{
  transition: all 0.3s linear;
  color: #f1f1f1;
  background: linear-gradient(90deg, #5F72FF 0%, #73D6F1 100%);
}
#login{
  background: linear-gradient(90deg, #5F72FF 0%, #73D6F1 100%);
}
#login:hover{
  background: linear-gradient(90deg, #3d51e5 0%, #73D6F1 100%);
}

.home{
  height: 88vh;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1{
  font-size: 48px;
  width: 430px;
  color: #fff;
}
.home p{
  font-size: 16px;
  width: 450px;
  color: #dad6d6;
  margin-top: 20px;
  line-height: 24px;
}
.home button{
  width: 200px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.home button:hover {
  color: #fff;
  width: 400px;
  border-radius: 0px 30px 30px 0px;
  transition: all 0.3s linear;
  background: linear-gradient(90deg, #5F72FF 0%, #73D6F1 100%);
}
.home img{
  height: 350px;
}
.login{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login img, .login_form{
  flex: 1;
}
.login img{
  height: 300px;
}
.login_form{
  padding: 0 50px;
}
.login_form h3{
  font-size: 30px;
  margin-bottom: 30px;
}
form{
  width: 300px;
}
.form_input{
  width: 300px;
  border-bottom: 1px solid #ee8f4e;
  padding: 10px 10px 0;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.form_input i{
  font-size: 20px;
  margin-right: 10px;
}
.form_input .togglePassword{
  margin-right: 0;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.form_input input{
  padding: 10px;
  width: 100%;
  border: none;
  outline:none;
  caret-color: #ee8f4e;
}
.remember{
  margin:20px 10px;
  font-size: 14px;
}
.remember input{
  margin-right: 10px;
  accent-color: #ee8f4e;
  cursor: pointer;
}
input[type="submit"]{
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #ee8f4e;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
input[type="submit"]:hover{
  box-shadow: 3px 3px 10px #ee8f4e;
  transition: all 0.3s linear;
}
form > p{
  font-size: 14px;
  color: blue;
  text-align: right;
}
.link_to_signup p{
  font-size: 14px;
  margin-top: 20px;
  color: black;
  text-align: center;
}
.link_to_signup p span{
  color: blue;
  cursor:pointer;
} 
.signup_form{
  padding-left: 200px;
}

.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin:100px auto;
  width: 1200px
}
.product{
  background-color: red;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: #fff;
}
.product img{
  height:80px;
  width:80px;
  border-radius: 50%;
  border:none;
  margin-bottom: 20px;
}









.sidebar {
  width: 250px;
  padding: 20px 15px;
  text-align: center;
  height: 89vh;
  position: relative;
  border-right: 5px solid #ee8f4e;
  background: #222;
}
.sidebar {
  padding-top: 100px;
}
.sidebar li{
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid transparent;
  padding: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.sidebar li:hover{
  border: 2px solid #ee8f4e;
  color: #ee8f4e;
}

.dashboard{
  display: flex;
}